/* telas maiores*/

@media screen and (min-width:557px) and (max-width:593px){

    main > section > h1 {
        color: var(--cor4);
        font-family: "New Amsterdam", sans-serif;
        font-size: 15pt;
    }

    main > section > h2 {
        color: var(--cor4);
        font-family: "New Amsterdam", sans-serif;
        font-size: 10pt;
        font-weight: lighter;
    }

    main > section > p {
        font-size: 8pt;
    }
    
    .imagem > img {
        width: 230px;
    }

}

@media screen and (min-width: 593px)  and (max-width:670px){
    main > section > h1 {
        font-size: 20pt;
    }
    
    .imagem > img {
        width: 250px;
    }
}

@media screen and (min-width:670px) and (max-width:870px) {
    main > section > h1 {
        color: var(--cor4);
        font-family: "New Amsterdam", sans-serif;
        font-size: 20pt;
    }
    
    main > section > h2 {
        font-size: 10pt;
    }

    #burguer {
        display: none;
    }

    nav{
        display: block;
       
    }

    .imagem > img {
        width: 450px;
    }

    main  > section > p {
        font-size: 10pt;
    }

}

@media screen and (min-width:870px) and (max-width:965px) {
        
        #burguer {
            display: none;
        }

        nav {
            display: block;
            color: black;
        }

        .imagem > img {
            width: 450px;
        }

        main > section > h1 {
            color: var(--cor4);
            font-family: "New Amsterdam", sans-serif;
            font-size: 20pt;
            width: 350px;
        }

        main > section > h2 {
            font-size: 10pt;
        }
      
}

@media  screen and (min-width:965px) and (max-width:1200px) {
        #burguer {
            display: none;
        }

        nav {
            display: block;
            
        }
    
    
        .imagem > img {
            width: 455px;
        }
    
    
        main > section > h1 {
            font-size: 25pt;
            width: 450px;
        }

        main > section > h2 {
            font-size: 15pt;
        }

        main > section > p {
            color: var(--cor4);
            font-family:  "Moderustic", sans-serif;
            margin-top: 1em;
        }

        main > section > p {
            color: var(--cor4);
            font-family:  "Moderustic", sans-serif;
            margin-top: 1em;
            font-size: 10pt;
        }
}

@media  screen and (min-width:1200px) {
    main > section > h1 {
        font-size: 35pt;
        width: 500px;
    }
    
    .imagem > img {
        width: 450px;
    }

    #burguer {
        display: none;
    }

     nav {
        display: block;
       
    }
}